* {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #eee7dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.country {
    font-size: 1.6rem;
    font-weight: 400;
}

.price {
    font-size: 2.4rem;
    font-weight: 700;
    color: #201d1d;
}

#apply-btn {
    font-size: 1.8rem;
    font-weight: 700;
    color: #201d1d;
    background-color: #ff729a;
    border-radius: 100px;
    border: none;
    padding: 1.6rem 2.6rem;
    transition: all ease-in-out 0.3s;
}

#apply-btn:hover {
    background-color: #ff9eba;
}

.apply-wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 2.2rem 2rem 2.8rem;
    width: 40rem;
    border-radius: 120px;
}

.country-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* room card */
.room-card {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #fff;
    padding: 3rem;
    border-radius: 30px;
}

.room-info-wrapper {
    display: flex;
    justify-content: space-between;
}

.room-reservation {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.room-info {
    font-size: 2rem;
    font-weight: 500;
    white-space: pre-line;
    color: #5b5b5b;
}

.room-img {
    width: 180px;
    height: 200px;
    overflow: hidden;
    border-radius: 24px;
}

img {
    width: 100%;
}

.room-time {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.room-time > span {
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.room-message-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4.5rem;
}

.now-dot {
    background-color: #ff729a;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.room-message {
    font-size: 2.5rem;
    font-weight: 600;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.heart-icon-wrapper {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
    font-size: 3rem;
}

.heart-icon-wrapper:hover {
    background-color: #000000;
    color: #fff;
}

#heart-icon:hover {
    mix-blend-mode:lighten;
}